body {
    background-color: #343a40;
    color: #f8f9fa;
  }
  .form-control,
  .btn {
    background-color: #3d3d3d;
    color: #f8f9fa;
    border-color: #3d3d3d;
  }
  .slide-img{
    height:200;
    width: 300;
    
  }

  @media (max-width: 600px) {
    .carousel-item .col-md-6:first-child {
      display: none;
    }
    .carousel-item .col-md-6:last-child {
      width: 100%;
      text-align: center;
    }
    
  }
  
  .icones{
    font-size: 40px; 
    color: white;
  }

  footer{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .icones-meio {
    font-size: 100px;
    color: whitesmoke;
    padding-right: 30px;
  }
  